<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APInstallerURL</key>
	<string>www.youtube.com</string>
	<key>ASAccountAuthenticationModificationSupportsUpgradeToSignInWithApple</key>
	<true/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>gold</string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>0</integer>
			<key>CFBundleTypeName</key>
			<string>download</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>gold</string>
			</array>
			<key>NSDocumentClass</key>
			<string>NSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>gold</string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>0</integer>
			<key>CFBundleTypeName</key>
			<string>my music</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>gold</string>
			</array>
			<key>NSDocumentClass</key>
			<string>NSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>gold</string>
			<key>CFBundleTypeName</key>
			<string>system</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>gold</string>
			</array>
			<key>NSDocumentClass</key>
			<string>NSPersistentDocument</string>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>Y</string>
			<key>CFBundleURLName</key>
			<string>Y</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>WWW.YOUTUBE.COM</string>
			</array>
		</dict>
	</array>
	<key>NSCameraStudioLightEnabled</key>
	<true/>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>hood</string>
			</dict>
			<key>NSMessage</key>
			<string>M7MD</string>
			<key>NSPortName</key>
			<string>stwyshn</string>
			<key>NSReturnTypes</key>
			<array>
				<string>a</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>a</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>انجوي ي مان</string>
		<string>جاحاتك</string>
		<string>اعداداتك ياا</string>
		<string>حنك البرنامج  كيف ولشنو ؟ نهاا</string>
		<string>اا</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>E</string>
			</array>
			<key>UTTypeDescription</key>
			<string>E</string>
			<key>UTTypeIconFile</key>
			<string>E</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>E</string>
				<key>UTTypeIconBadgeName</key>
				<string>E</string>
				<key>UTTypeIconText</key>
				<string>E</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>E</string>
			<key>UTTypeReferenceURL</key>
			<string>E</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>E</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>E</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>I</string>
			</array>
			<key>UTTypeDescription</key>
			<string>I</string>
			<key>UTTypeIconFile</key>
			<string>I</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>I</string>
				<key>UTTypeIconBadgeName</key>
				<string>I</string>
				<key>UTTypeIconText</key>
				<string>I</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>I</string>
			<key>UTTypeReferenceURL</key>
			<string>I</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>I</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>I</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
