<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>com.apple.developer.applesignin</key>
<array>
<string>Default</string>
<string>Default</string>
<string>Default</string>
</array>
<key>com.apple.developer.networking.slicing.appcategory</key>
<array>
<string>streaming-9001</string>
<string>communication-9000</string>
<string>games-6014</string>
</array>
<key>com.apple.developer.networking.slicing.trafficcategory</key>
<array>
<string>responsivedata-6</string>
<string>callsignaling-5</string>
<string>video-2</string>
</array>
<key>com.apple.developer.networking.wifi-info</key>
<true/>
<key>com.apple.security.cs.debugger</key>
<true/>
<key>com.apple.security.files.user-selected.read-only</key>
<true/>
<key>com.apple.security.personal-information.photos-library</key>
<true/>
<key>inter-app-audio</key>
<true/>
</dict>
</plist>
